body {
  font-family: "Ubuntu", sans-serif;
  color: #65676f;
}
a {
  text-decoration: none;
}
/*####### NAV ########*/
nav {
  position: absolute;
  width: 100%;
  top: 0px;
  background-color: rgba(42, 43, 47, 0.62);
  height: 56px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 3;
  -webkit-transition: height 0.6s 0.6s;
  transition: height 0.6s 0.6s;
  left: 0;
}
.fixed-nav {
  position: fixed;
  height: 45px;
  top: 0px;
}
.logo-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: margin-left 0.6s;
  transition: margin-left 0.6s
}
.fixed-logo-box {
  margin-left: 20%;
}
.logo {
  height: 25px;
  width: 30px;
  border: thick solid #AD2424;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1em;
  -webkit-transition: border-color 0.6s, -webkit-transform 0.6s;
  transition: border-color 0.6s, -webkit-transform 0.6s;
  transition: border-color 0.6s, transform 0.6s;
  transition: border-color 0.6s, transform 0.6s, -webkit-transform 0.6s;
}
.logo div {
  height: 8px;
  width: 10px;
  border: thick solid white;
  -webkit-transition: border-color 0.6s, -webkit-transform 0.6s;
  transition: border-color 0.6s, -webkit-transform 0.6s;
  transition: border-color 0.6s, transform 0.6s;
  transition: border-color 0.6s, transform 0.6s, -webkit-transform 0.6s;
}
.logo-title {
  color: white;
  font-weight: bold;
  font-size: 25px;
  padding: 0.7em;
  -webkit-transition: color 0.6s;
  transition: color 0.6s;
}
.fixed-logo {
  border-color: #4A9614;
  color: #fff;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.logo-box:hover .logo {
  border-color: #1CFFCA;
}
.logo-box:hover .logo div {
  border-color: #1CFFCA;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1em;
  -webkit-transition: margin-right 0.6s;
  transition: margin-right 0.6s;
}
.fixed-links {
  margin-right: 20%;
}
nav ul li a {
  color: white;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  padding: 1.5em;
}
nav ul li a:hover {
  color: #1CFFCA;
}
/*####### HEADER #########*/
header {
  position: relative;
  height: 300px;
  z-index: 1;
  background-color: #2e313d;
}
.intro-background {
  height: 100%;
  width: 100%;
  background-image: url("http://images6.fanpop.com/image/photos/36000000/nature-mother-nature-36002556-1920-1080.jpg");
  background-size: cover;
}
.intro-heading {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  top: 0px;
  height: 300px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}
.intro-heading h1 {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
.logo-heading {
  height: 25px;
  width: 30px;
  border: thick solid white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1em;
  -webkit-transition: border-color 0.6s, -webkit-transform 0.6s;
  transition: border-color 0.6s, -webkit-transform 0.6s;
  transition: border-color 0.6s, transform 0.6s;
  transition: border-color 0.6s, transform 0.6s, -webkit-transform 0.6s;
}
.logo-heading div {
  height: 8px;
  width: 10px;
  border: thick solid white;
  -webkit-transition: border-color 0.6s;
  transition: border-color 0.6s;
}
.intro-heading:hover .logo-heading {
  border-color: #1CFFCA;
}
.intro-heading:hover .logo-heading div {
  border-color: #1CFFCA;
}
/*##### MAIN CONTENT #########*/
.main {
  position: relative;
  margin-top: 56px;
  padding: 2em 0;
  line-height: 1.8;
  background-color: #2A2B2F;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-content {
  width: 70%;
}
.main-content h2 {
  font-size: 28px;
}
.main-content p {
  margin: 1em 0px;
}















* {
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

:root {
  font-size: 13px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.618;
  font-weight: 400;
}

#gallary {
  background-color: #2A2B2F;
  color: #f5f5f5;
  padding: 1px
}

a {
  color: #1abc89;
}

a:hover {
  opacity: .8;
}

p {
  font-size: 1.2rem;
  color: rgba(245, 245, 245, 0.5);
}

.small {
  font-size: 1rem;
  margin-top: 1em;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  text-align: center;
  padding-bottom: 3rem;
}

h1 {
  font-size: 2.6rem;
  line-height: 1.2em;
  padding-bottom: 1rem;
  font-weight: 600;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

circle {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

text {
  font-size: 1.1rem;
  text-transform: uppercase;
  text-anchor: middle;
  letter-spacing: 1px;
  font-weight: 600;
}

.svg-text {
  fill: #545a64;
}

.svg-masked-text {
  fill: white;
}

image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 200px;
  margin: 5px;
  cursor: pointer;
  background-color: #3b3e46;
  border-radius: 2px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.02), inset 0 0px 0px 1px rgba(0, 0, 0, 0.07);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.item:hover circle,
.item:hover image {
  -webkit-transform: scale(1);
          transform: scale(1);
}

button {
  width: 12px;
  height: 12px;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  border-radius: 1px;
}
button.dark {
  background-color: #2f3238;
}
button.light {
  background-color: #f9f9f9;
}

.options {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.options button {
  margin-left: .5rem;
}

.light {
  background-color: #f9f9f9;
  color: #1a1a1a;
}
.light p {
  color: rgba(26, 26, 26, 0.5);
}
.light .item {
  background: #f5f5f5;
}
.light .svg-text {
  fill: rgba(0, 0, 0, 0.1);
}



#head {
	background: #000;
	overflow: hidden;
	max-height: 620px;
}

canvas {
	display: block;
}









#three {
  background: #e5e3e8;
  font-family: 'Lato', Helvetica, sans-serif;
}
.project-container {
  height: 155px;
  width: 100%;
  background: #2F3238;
  min-width: 300px;
  float: left;
  margin: 12px 0;
  position: relative;
  border: 1px solid #fff;
}
.project-container h3 {
  margin-top: 10px;
  margin-bottom: 0px;
      color: wheat;
}
.project-container h5 {
  margin-top: 0px;
}
.project-img {
  height: 150px;
  width: 150px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  float: left;
  margin-right: 15px;
}
.project-description {
  margin: 0 15px;
}
.project-description > p {
  overflow-y: hidden;
  max-height: 60px;
  margin: 0 0 4px 0;
  color: #FAFAFA;
}

.btn-view {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 0;
}
#project-img-1 {
  background-image: url('http://www.thewhatifconference.com/img/cphotos/sm/Image198.jpg');
}
#project-img-2 {
  background-image: url('http://www.thewhatifconference.com/img/cphotos/sm/Image199.jpg');
}
#project-img-3 {
  background-image: url('http://www.thewhatifconference.com/img/cphotos/sm/Image200.jpg');
}
#project-img-4 {
  background-image: url('http://www.thewhatifconference.com/img/cphotos/sm/Image201.jpg');
}
#project-img-5 {
  background-image: url('http://www.thewhatifconference.com/img/cphotos/sm/Image202.jpg');
}
#project-img-6 {
  background-image: url('http://www.thewhatifconference.com/img/cphotos/sm/Image203.jpg');
}
#project-img-7 {
  background-image: url('http://www.thewhatifconference.com/img/cphotos/sm/Image204.jpg');
}



#three {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.6; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.section-class {

  background-color: #1e7980;
background-image: url("http://www.transparenttextures.com/patterns/diagonal-striped-brick.png");

 }
  .section-class h2 {
    text-align: center;
    text-transform: uppercase;
    color: aliceblue;
    font-size: 24px;
    margin-bottom: 60px; }

.section-class-item {
  margin-bottom: 30px; }
  .section-class-item .icon-wrap {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background-color: #313437;
    display: inline-block;
    border-radius: 10em;
    font-size: 20px;
    color: #fff; }
  .section-class-item h3 {
    margin-top: 0;
    font-size: 18px;
    color: antiquewhite;
    font-weight: bold; }
  .section-class-item p {
   color: aliceblue; }

.items-right .item-icon {
  padding-left: 20px; }

.items-right,
.items-left {
  margin-top: 30px; }

.item-text,
.item-icon {
  display: table-cell;
  vertical-align: top; }

.items-left .item-icon {
  padding-right: 20px; }


 .top_text {
    display: inline-block; }
     .top_text p {
  
      text-transform: uppercase;
}
 .top_text h1 {
      display: inline-block;
      padding: 10px 35px;
      color: #fff;
      border: 8px solid #fff;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 2.8em;
      background-color: rgba(0, 0, 0, 0.4);
}   


.section-flat {
  padding: 80px 0 40px;
  color: #fff;
  background: #3b3f42;
  background: -moz-linear-gradient(-45deg,  #3b3f42 0%, #222426 100%);
  background: -webkit-linear-gradient(-45deg,  #3b3f42 0%,#222426 100%);
  background: linear-gradient(135deg,  #3b3f42 0%,#222426 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3f42', endColorstr='#222426',GradientType=1 );
}

.flat-item {
  text-align: center;
  margin-bottom: 60px;
}

.flat-item img {
  max-width: 60px;
  height: 60px;
}

.flat-item h3 {
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
  margin: 30px 0 10px;
}

.flat-item p {
  font-size: 13px;
  opacity: .5;
  margin: 0px;
  color: #fff;
  font-weight: 300;
}

.section-header {
  text-align: center;
}

.section-header h2 {
  font-family: "Comfortaa", sans-serif;
  margin-top: 0;
  font-size: 26px;
}

.section-header h2 + p {
  font-weight: 300;
  margin: 22px 0 80px;
  font-size: 15px;
  color: #fff;
  opacity: .5;
}

.grid {
  width: 187vmin;
  margin: 10vmin auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  box-shadow: 0px 0px 8vmin 4vmin rgba(0, 0, 0, 0.1), inset 0px 0px 8vmin 4vmin rgba(0, 0, 0, 0.1);
  -webkit-perspective: 2000;
          perspective: 2000;
}

.item-box {
  position: relative;
  width: 26.66667vmin;
  height: 26.66667vmin;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
  -webkit-transition: all 0.225s cubic-bezier(0.65, 0.05, 0.36, 1) 0.225s;
  transition: all 0.225s cubic-bezier(0.65, 0.05, 0.36, 1) 0.225s;
}
.item-box:nth-child(1) .puzzle:before {
  background-image: url("https://unsplash.it/600/600?image=1011");
}
.item-box:nth-child(2) .puzzle:before {
  background-image: url("https://unsplash.it/600/600?image=1006");
}
.item-box:nth-child(3) .puzzle:before {
  background-image: url("https://unsplash.it/600/600?image=883");
}
.item-box:nth-child(4) .puzzle:before {
  background-image: url("https://unsplash.it/600/600?image=1074");
}
.item-box:nth-child(5) .puzzle:before {
  background-image: url("https://unsplash.it/600/600?image=823");
}
.item-box:nth-child(6) .puzzle:before {
  background-image: url("https://unsplash.it/600/600?image=64");
}
.item-box:nth-child(7) .puzzle:before {
  background-image: url("https://unsplash.it/600/600?image=65");
}
.item-box:nth-child(8) .puzzle:before {
  background-image: url("https://unsplash.it/600/600?image=839");
}
.item-box:nth-child(9) .puzzle:before {
  background-image: url("https://unsplash.it/600/600?image=832");
}
.item-box:nth-child(10) .puzzle:before {
  background-image: url("https://unsplash.it/600/600?image=892");
}
.item-box:nth-child(11) .puzzle:before {
  background-image: url("https://unsplash.it/600/600?image=862");
}
.item-box:nth-child(12) .puzzle:before {
  background-image: url("https://unsplash.it/600/600?image=882");
}
.item-box:nth-child(13) .puzzle:before {
  background-image: url("https://unsplash.it/600/600?image=69");
}
.item-box:nth-child(14) .puzzle:before {
  background-image: url("https://unsplash.it/600/600?image=55");
}
.item-box:hover {
  -webkit-transform: scale(1.25, 1.25);
          transform: scale(1.25, 1.25);
  box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.2);
}
.item-box:hover .puzzle {
  -webkit-transform: translateX(0) translateY(0) translateZ(1px) rotateX(0) rotateY(0);
          transform: translateX(0) translateY(0) translateZ(1px) rotateX(0) rotateY(0);
  opacity: 1;
}
.item-box .item-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.piece {
  position: absolute;
  width: 13.33333vmin;
  height: 13.33333vmin;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.piece:nth-child(1) {
  -webkit-transform: translateX(-100%) translateY(-100%) rotate(0deg);
          transform: translateX(-100%) translateY(-100%) rotate(0deg);
}
.piece:nth-child(1) .puzzle:before {
  background-position: 0% 0%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.piece:nth-child(2) {
  -webkit-transform: translateX(0%) translateY(-100%) rotate(90deg);
          transform: translateX(0%) translateY(-100%) rotate(90deg);
}
.piece:nth-child(2) .puzzle:before {
  background-position: 100% 0%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.piece:nth-child(3) {
  -webkit-transform: translateX(0%) translateY(0%) rotate(180deg);
          transform: translateX(0%) translateY(0%) rotate(180deg);
}
.piece:nth-child(3) .puzzle:before {
  background-position: 100% 100%;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.piece:nth-child(4) {
  -webkit-transform: translateX(-100%) translateY(0%) rotate(270deg);
          transform: translateX(-100%) translateY(0%) rotate(270deg);
}
.piece:nth-child(4) .puzzle:before {
  background-position: 0% 100%;
  -webkit-transform: rotate(-270deg);
          transform: rotate(-270deg);
}

.puzzle {
  position: absolute;
  width: 17.17505vmin;
  height: 17.17505vmin;
  background-color: #000;
  -webkit-clip-path: url(#puzzle);
          clip-path: url(#puzzle);
  opacity: .8;
  -webkit-transform: translateX(-22.368%) translateY(-22.368%) translateZ(0px) rotateX(0.5turn) rotateY(0.5turn);
          transform: translateX(-22.368%) translateY(-22.368%) translateZ(0px) rotateX(0.5turn) rotateY(0.5turn);
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: all 0.45s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.puzzle:before {
  content: "";
  position: absolute;
  width: 17.17505vmin;
  height: 17.17505vmin;
  background-size: 155.264%;
}

@-webkit-keyframes init {
  from {
    -webkit-transform: translateX(0) translateY(0) translateZ(1px) rotateX(0) rotateY(0);
            transform: translateX(0) translateY(0) translateZ(1px) rotateX(0) rotateY(0);
  }
}

@keyframes init {
  from {
    -webkit-transform: translateX(0) translateY(0) translateZ(1px) rotateX(0) rotateY(0);
            transform: translateX(0) translateY(0) translateZ(1px) rotateX(0) rotateY(0);
  }
}


.icon-sets{
   display:inline-block;
}
.icon-panel{
    background:#FFF;
    border:1px solid #DBE0E9;
    margin:20px 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding-top:30px;
    height:263px;
    position:relative;
    box-shadow:0 1px 3px rgba(0,0,0, 0.05);
}
.icon-panel img{
    max-width:228px;
    width:100%;
    height:auto;
}
.icon-panel h3{
    font-size:23px;
    position:absolute;
    bottom:5px;
    width:100%;
    right:0;
}

.block{
    padding:70px 0;
    text-align:center;
    position:relative;
}

.grey{
  background-color: rgba(14, 190, 255, 0.21);

}
.greys{
  background-color: rgb(249, 249, 249);

}
.apps-container{
    padding:30px;
}

.app-box{
    margin:0 auto;
    width:62px;
    height:62px;
}
.ps-box{
     background:url(../img/ps-box.png);
}
.ai-box{
     background:url(../img/ai-box.png);
}
.id-box{
     background:url(../img/id-box.png);
}
.sk-box{
     background:url(../img/sk-box.png);
}
.pm-box{
     background:url(../img/pm-box.png);
}


      

#welcome {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    background: #e9e3e4;
}

#top-placeholder, #welcome {
    height: 90vh;
    max-height: 900px;
    min-height: 400px;
    }





#welcome-background {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e9e3e4;
    background-image: url("../img/creative-left.jpg"),url("../img/creative-right.jpg");
    background-position: calc(50vw - 895px) top, 50vw top;
    background-repeat: no-repeat;
    background-size: auto 720px;
}

#welcome-content {
    position: relative;
    z-index: 2;
    text-align: center;
    height: 68vh;
    max-height: 780px;
    min-height: 350px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

h1 {
    margin-bottom: 35px;
    max-width: 630px;
}
h1, h2 {
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.main-action {
    color: #d0021b;
    box-shadow: 0px 0px 0px 1px;
    font-size: 20px;
    height: 44px;
    line-height: 44px;
    border-radius: 22px;
    padding: 0px 26px;
    display: inline-block;
    text-decoration: none !important;
}

#welcome-shot {
    position: absolute;
    top: 50vh;
    margin-top: 0;
    left: 0;
    width: 100%;
    height: 376px;
    background: url("../img/home.png") no-repeat center top;
    background-size: auto 376px;
}

#content {
    position: relative;
       background: #f9f9f9;
    z-index: 3;
    display: block;
}

.noman {
    margin: 0 auto;
    max-width: 1100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    
}

.noman .noman-img {
    position: relative;
    width: 500px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.noman .noman-img img, .noman .noman-img video {
    position: absolute;
    right: 0;
    top: 0;
}

.noman .noman-text {
    position: relative;
    margin-left: 80px;
    padding-right: 30px;
    width: 665px;
}


h1, h2 {
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.noman .noman-text h3 {
    margin-top: 18px;
    font-size: 24px;
    color: rgba(0,0,0,0.6);
    margin-bottom: 30px;
    line-height: 30px;
}

.platforms-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: -25px;
}

.platforms-list .item {
    text-align: center;
    margin: 0px 25px;
}

.platforms-list .cover {
    padding: 12px 0px;
}
img {
    vertical-align: middle;
}

.platforms-list .permalink {
    padding: 12px 0px;
    white-space: nowrap;
}
a {
    text-decoration: none;
    color: #205c98;
}

.platforms-list .permalink img {
    margin-right: 8px;
    vertical-align: -5px;
}

.info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #a3a195;
    font-size: 16px;
    margin-top: 30px;
}

.info img {
    margin: 0 9px;
    margin-right: 26px;
}

.info p {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

blockquote p {
    font-size: 15px;
    font-family: "Open Sans";
    color: rgba(0,0,0,0.6);
    font-style: italic;
    line-height: 20px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
blockquote .author {
    margin-right: 16px;
    position: relative;
}
blockquote .author, blockquote .author .ava {
    width: 45px;
    height: 45px;
}
blockquote, q {
    quotes: none;
}

.line {
    width: 90px;
    height: 1px;
    background: #e1e1e1;
    margin: 40px auto;
}

blockquote .author > img {
    position: absolute;
    bottom: 0;
    right: 0;
}
blockquote .author .ava {
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1);
    background-size: cover;
}

blockquote .author, blockquote .author .ava {
    width: 45px;
    height: 45px;
}

blockquote p a {
    font-style: normal;
}


/*.loader {
background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}
  

.loader_inner{
background-image: url("../img/preloaders.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 60px;
  width: 60px
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}*/

  
