/* using autoprefixer */
/* background pattern from http://enjoycss.com/ */



.wrapper {
  height: 8em;
  left: 40%;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-perspective-origin: 50% 100px;
          perspective-origin: 50% 100px;
  position: absolute;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20em;
}

.glasses {
  -webkit-animation: spin 5s linear infinite;
          animation: spin 5s linear infinite;
  height: 8em;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 20em;
}

.frame {
  border: solid 2em #fff;
  border-bottom-left-radius: 30% 50%;
  border-bottom-right-radius: 30% 50%;
  box-sizing: border-box;
  height: 8em;
  position: absolute;
  top: 0;
  width: 9em;
  z-index: 1;
}

.left-frame {
  left: 0;
}

.right-frame {
  right: 0;
}

.bridge {
  background-color: #fff;
  height: 2em;
  left: 9em;
  position: absolute;
  top: 0;
  width: 2em;
}

.lens {
  border-bottom-left-radius: 15% 50%;
  border-bottom-right-radius: 15% 50%;
  height: 4em;
  opacity: .5;
  width: 5em;
}

.left-lens {
  background-color: #f33;
}

.right-lens {
  background-color: #09f;
}

.arm {
  border-top: solid 2em #fff;
  height: 4em;
  position: absolute;
  width: 20em;
}

.left-arm {
  border-left: solid 2em #fff;
  border-top-left-radius: 50%;
  left: -20em;
  -webkit-transform: translate(-2em, 0) rotateY(-90deg);
          transform: translate(-2em, 0) rotateY(-90deg);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.left-arm:after {
  background-color: #fff;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  bottom: -2em;
  content: "";
  height: 2em;
  position: absolute;
  left: -2em;
  width: 2em;
}

.right-arm {
  border-right: solid 2em #fff;
  border-top-right-radius: 50%;
  right: -20em;
  -webkit-transform: translate(2em, 0) rotateY(90deg);
          transform: translate(2em, 0) rotateY(90deg);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.right-arm:after {
  background-color: #fff;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  bottom: -2em;
  content: "";
  height: 2em;
  position: absolute;
  right: -2em;
  width: 2em;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}